form input {
  border: 1px solid #f8f9fa;
  background-color: #f8f9fa;
  margin-bottom: 10px;
}
form span {
  margin-right: 10px;
}
form button {
  font-size: 90%;
  margin-bottom: 5px;
}
form span a {
  text-decoration: underline;
}
form span a:hover {
  color: blue;
}
